::selection{
    background: yellow;
    color: #000;
}
.carousel-caption h1{
    font-size: 60px;
}
.carousel-caption>.caption{
    margin-left: 200px;
    text-align: left;
}
#category{
    background: #00081d;
}
.card{
    background:  linear-gradient(-49deg, #410E21 0%, #0C143B 100%);
}
.category .card,.cat-prime .card,.top-10-movies .card,.amazon-series .card{
    background: none;
}
.card img{
    scale: 0.9;
    transition: 0.5s;
}
.card img:hover{
    scale: 1;
}
.category::-webkit-scrollbar,.top-10-movies::-webkit-scrollbar,.amazon-series-movies::-webkit-scrollbar{
    background: #1a2134;
    height: 5px;
}.category::-webkit-scrollbar-thumb,.top-10-movies::-webkit-scrollbar-thumb,.amazon-series-movies::-webkit-scrollbar-thumb{
    background: #484e5d;
}
.see_more a{
    color: #fff;
    text-decoration: none;
}
.see_more a:hover{
    color: red;
}
.cat-prime img,.top-10-movies img{
    transform: scale(1);
    /* overflow:hidden ; */
}
.cat-prime img:hover{
   transform: scale(1.1) scalex(1) scaleY(1);


}
.cat-prime::-webkit-scrollbar{
    background: #1a2134;
    height: 5px;
}
.cat-prime::-webkit-scrollbar-thumb{
    background: #484e5d;
}
.cat-prime .card-title:hover{
    color: red;
}
.top-10{
     background-image: linear-gradient(-30deg, #3E0E22 41%, #0D134B 71%);
}
.amazon-series
{
    background: #00081d;
}
#category-2{
    background-image: linear-gradient(46deg, #000000 0%, #946D11 33%);
}
#Explore:hover{
    background: red;
    color: white;
}
.accordion-body
{
    background: #00081d;
}
.accordion-button{
    background: #132144;
}