.carousel-caption h1{
    font-size: 60px;
}
.carousel-caption>.caption{
    margin-left: 200px;
    text-align: left;
}
.category{
    background: #00081d;
}
.card{
    background:  linear-gradient(-49deg, #410E21 0%, #0C143B 100%);
}
.card img{
    scale: 0.9;
    transition: 0.5s;
}
.card img:hover{
    scale: 1;
}